.btn-add{
    position: absolute;
    right: 0px;
    top: 0px;
}

.MuiFormControlLabel-label{
    font-size: 12px;
}

.MuiTableCell-body{
padding: 5px 20px;
}
.MuiTableCell-head{
    padding: 15px 30px;
}
.MuiButton-contained{
    min-width: 0px;
}
.MuiTableContainer-root{
    
}